.container {

}

.title {
  font-size: 20px;
  text-align: center;
}

.header {
  padding: 16px;
}

.footer {
  padding: 16px;
}

.description {
  margin: auto;
  width: 960px;
}

.sectionTitle {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.descriptionText {
  font-size: 12px;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.howToPlay {
  margin: auto;
  width: 960px;
}

