.container {
  --primary-color: #2e2e2e;
}

.main {
  display: flex;
}

.left {
  padding: 16px;
}

.right {
  padding: 16px;
}

.content {
  flex: 3;
}

.title {
  font-size: 14px;
}

.header {
  padding: 16px;
}

.footer {
  padding: 16px;
}

.description {
  margin: auto;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 500;
}

.descriptionText {
  font-size: 12px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.howToPlay {
  margin: auto;
}

