.container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #494194
}

.left {
  max-width: 400px;
  width: 400px;
  border-right: 1px solid var(--color-border);
  background: #f9f9f9;
}

.right {
  max-width: 400px;
  width: 400px;
  border-left: 1px solid var(--color-border);
  background: #f9f9f9;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20%;
  z-index: 1;
}

.cover {
  opacity: 0;
  animation: fadeInOut 2s 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bottomBar {
  position: absolute;
  bottom: 0;
  height: auto;
  width: auto;
}

.leftSholder {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
}

.rightSholder {
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
}

.leftTrigger {
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: auto;
}

.rightTrigger {
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
}

.displayBackground {
  position: absolute;
  top: 17%;
  height: auto;
  width: auto;
}
