.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.item {
  list-style: none;
}

.card {
  cursor: pointer;
  border: 1px solid var(--color-border);
  margin-bottom: 32px;
  padding: 16px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-size: 16px;
  font-weight: 600;
}

.thumbnail {
  padding: 16px;
}

.thumbnailImage {
  width: 100px;
  height: 100px;
  border: 1px solid var(--color-border);
}

.description {
  width: 100%;
  font-size: 14px;
  padding: 16px;
}

