.container {
  position: absolute;
}

.crossButton {
  filter: drop-shadow(4px 8px 0px #666);
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
}

.vertical {
  position: absolute;
  width: 60px;
  height: 220px;
  background: #D9D9D9;
  border-radius: 8px;
}

.horizontal {
  position: absolute;
  left: 0;
  display: flex;
  height: 60px;
  width: 220px;
  background: #D9D9D9;
  border-radius: 8px;
}

.up,
.down,
.left,
.right {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 8px;
  z-index: 1;
}

.up {
  top: 0;
  height: 80px;
  width: 60px;
}

.down {
  bottom: 0;
  height: 80px;
  width: 60px;
}

.right {
  right: 0;
  height: 60px;
  width: 80px;
}

.left {
  left: 0;
  height: 60px;
  width: 80px;
}
